---
layout: page
title: Hey, I'm Ken!
---

<img class="img-portrait" src=assets/img/franconia-portrait.jpg/>

<p>
  {{site.data.text.intro}}
</p>

<p>
  {{site.data.text.disclaimer}}
</p>

<hr>

<a id="jobs"></a>
<h1>Where I've Worked</h1>
<ul>
{% assign sorted_jobs = site.jobs | sort: 'date' | reverse %}
{% for job in sorted_jobs %}
  {% include job_list_item.html job=job %}
{% endfor %}
</ul>

<hr>

<a id="projects"></a>
<h1>Featured Projects</h1>

Here are some notable projects and publications I've worked on during my time at CMU.
<ul>
{% assign sorted_projects = site.projects | sort: 'date' | reverse %}
{% for project in sorted_projects %}
  {% if project.featured == true %}
    {% include project_list_item.html project=project %}
  {% endif %}
{% endfor %}
</ul>

<p>
  For a full list of all my projects, check out 
  <a href="/archive">the archive</a>.
</p>

<hr>

<a id="portfolio"></a>
<h1>Creative Portfolio</h1>
<p>
Aside from AI/ML and software projects, I've also worked on a lot of hobby projects in game development,
music production, photography, 3D modeling, and more! I've showcased a few below, check out the rest in
<a href="/archive">the archive</a>.
</p>

<ul>
{% for project in sorted_projects %}
  {% if project.portfolio == true %}
    {% include project_list_item.html project=project %}
  {% endif %}
{% endfor %}
</ul>

<hr>

<h1>Contact Me</h1>
<p>
  I'm currently looking for full-time opportunities after graduation, so please reach out at
  <a href="mailto: kenzheng99@gmail.com" target="_blank">kenzheng99@gmail.com</a>
  if you have any opportunities that might interest me!
</p>