---
layout: page
title: Hey, I'm Ken!
---

<img class="img-portrait" src=assets/img/franconia-portrait.jpg/>

<p>
  {{site.data.text.intro}}
</p>

<p>
  {{site.data.text.disclaimer}}
</p>

<hr>

<h2>Where I've Worked</h2>
<ul>
{% assign sorted_jobs = site.jobs | sort: 'date' | reverse %}
{% for job in sorted_jobs %}
  <li>
    <h3>{{job.position}} @ {{job.title}}</h3>
    <p>{{job.start}} - {{job.end}} | {{job.location}} </p>
    <p>{{job.excerpt}}</p>
  </li>

{% endfor %}
</ul>

<hr>

<h2>Featured Projects</h2>

Here's a showcase of a few projects I've been working on during my time at CMU.
<ul>
{% assign sorted_projects = site.projects | sort: 'date' | reverse %}
{% for project in sorted_projects %}
  {% if project.featured == true %}
    <li>
      <h3>
        <a href="{{ project.url }}">
        {{ project.title }}
        </a>
      </h3>
      <span>{{ project.subtitle }}</span><br/>
      <span>{{ project.location }} | {{ project.year }}</span><br/>

      {% if project.collaborators %}
      <span>w/ {{ project.collaborators }}</span>
      {% endif %}

      <p>{{ project.excerpt }}</p>
    </li>
  {% endif %}
{% endfor %}
</ul>

<p>
  For a full list of all my projects, check out 
  <a href="/projects">the archive</a>.
</p>